.header-body {
    height: 95px;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e8ebed;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    left: 0;
    padding: 0 40px 0px 28px;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 20;
}

.header-login-wrap {
    display: flex;
}

.header-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item-img h4 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
}

.header-item-img a img {
    border-radius: 8px;
    flex-shrink: 0;
    object-fit: contain;
    height: 95px;
    width: 100px;
}

.header-item-search {
    display: flex;
    position: relative;
    height: 45px;
}

.header-item-search i {
    display: block;
    padding: 10px 10px 10px 10px;
    font-size: 17px;
}

.div-input-search {
    display: flex;
    flex: 1;
    height: 100%;
}

.div-input-search input:focus+.div-input-search {
    border-color: #000;
}

.header-item-search input {
    display: flex;
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    height: 45px;
    padding-left: 15px;
    width: 440px;
    align-items: center;
    position: relative;
    font-size: 1.5rem;

}

.btn-submit {
    position: absolute;
    right: 0.5%;
    top: 4%;
    height: 92%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: .7;
}

.btn-submit:hover {
    opacity: 1;
}

.header-item-login-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item-login-avatar {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
}

.header-item-login {
    position: relative;
    padding-left: 10px;
}

.header-item-login-text {
    display: block;
    color: #000;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    text-align: center;
    cursor: pointer;

}

.header-item-login-text:hover {
    color: #000;
    text-decoration: underline;
}

.header-item-login:hover .header-item-logout {
    display: block;


}

.header-item-logout {
    position: absolute;
    top: 115%;
    right: 0%;
    min-width: 140px;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    display: none;
}
.header-item-logout::before {
    content: "";
    display: block;
    position: absolute;
    top: -14px;
    left: 0;
    width: 100%;
    height: 13px;
    background-color: transparent;
}
.header-item-logout-text {
    width: 100%;
    padding: 10px 12px;
    background: #fff;
    border-radius: 3px;
    color: #1d2129;
    z-index: 10000;
    animation: logout linear .3s;
    display: block;
    border-bottom: 1px solid #333;
    opacity: 1;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
}
@keyframes logout {
    from {
        transform: translateY(10%);

    }

    to {
        transform: translateY(0%);

    }
}

.header-item-logout-text i {
    color: #000;
    opacity: .8;
}

.header-item-logout-text:hover {
    opacity: 1;
    color: #000;
    transition: all .3s ease-in-out;

}